@import '../../../common/colors.scss';

.form {
  background-color: $light-grey-bg;
  width: 60%;
  min-width: 400px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  border-radius: 10px;
}

.error-message {
  color: red;
  height: 15px;
  font-size: 20px;
  margin: 0px;
}
