@import "../colors.scss";

.form {
  border: 1px solid black;
  margin: 50px auto 0px;
  background-color: $greyish-bg-color;
  width: 60%;
  min-width: 400px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  border-radius: 10px;
}

.error-message {
  color: red;
  line-height: 2em;
  font-size: 20px;
  margin: 0px 0px 20px;
}
